.messageStrip {
    width: 100%;
    height: 4rem;
    padding: 0rem 1rem;

    background-color: rgb(255, 0, 72);

    display: flex;
    align-items: center;

    .messageContainer {
        overflow: hidden;

        .slider {
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            animation: marquee 20s linear infinite;
            &:hover {
                animation-play-state: paused;
            }

            p, a {
                color: #000;
                text-decoration: none;
                
                padding-top: 0.25rem;
                display: inline-block;
                margin-left: 1rem;

                cursor: pointer;

                &:nth-of-type(odd) {
                    font-weight: 600;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

@keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
}